@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 245, 245, 245;
    --cyan-dark: 25, 80, 107;
    --cyan: 31, 116, 147;
    --cyan-light: 71, 180, 220;
    --cyan-lightest: 226, 240, 243;
    --green: 72, 125, 44;
    --orange-dark: 128, 55, 0;
    --orange: 231, 106, 0;
    --orange-light: 255, 132, 39;
    --black: 22, 15, 15;
    --gray: 49, 47, 47;
    --gray-foreground: var(--white);
    --dark-blue: 23, 29, 39;
    --dark-blue-foreground: var(--white);

    --background: var(--white);
    --foreground: var(--black);

    --background-secondary: var(--cyan-lightest);

    --primary: var(--cyan);
    --primary-foreground: var(--white);

    --secondary: var(--green);
    --secondary-foreground: var(--white);

    --loud: var(--orange);
    --loud-foreground: var(--white);
  }

  html.dark {
    --orange: var(--orange-light);
    --cyan: var(--cyan-light);

    --primary-foreground: var(--black);

    --background: var(--black);
    --foreground: var(--white);

    --background-secondary: var(--dark-blue);
    --foreground-secondary: var(--dark-blue-foreground);
  }

  html.highContrast {
    --cyan: var(--cyan-dark);
    --orange: var(--orange-dark);
  }
}

@layer components {
  .nav-link-underline {
    @apply after:absolute after:left-0 after:bottom-0 after:w-full after:bg-cyan-light after:h-0.5;
  }

  .vertical-spacing > * {
    @apply mb-7;
  }

  .highlight-strong strong {
    @apply text-primary;
  }
}
